/* General Color and Font Theme */
html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: scroll;
}
body {
    background-color: #0a192f;
}
html,body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
h1 {
    color:  #d9d9e8;
    font-family: verdana;
    font-size: 100%;
    text-align: center;
}
h2{
    color: lightseagreen;
    font-family: verdana;
    font-size: 250%;
    text-align: center;
}
h3, h4, h5, h6, p{
    color: #d9d9e8;
    font-family: verdana;
    text-align: center;
}
p{
    word-wrap: break-word;
}

/* Table */
td, th{
    color: white;
    text-align: center;
    padding: 8px;
}
td{
    width: 25%;
    word-wrap:break-word;
    margin-right: auto;
    margin-left: auto;
}

/* Creating Two Columns in the About Section */
.column {
    float: left;
    width: 45%;
    margin-left: 2%;
    margin-right: auto;
    word-wrap:break-word;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Learn more About Me Button*/
button{
    background-color: lightseagreen;
    font-size: 16px;
    font-family: verdana;
    text-decoration: none;
}
.homebutton{
    text-decoration: none;
    padding: 10px;
    border-radius: 10%;
    border: 0px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.homebutton a {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.homebutton a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.homebutton:hover a {
    padding-right: 25px;
}
.homebutton:hover a:after {
    opacity: 1;
    right: 0;
}

/* Collapsible Sections */
.collapsible {
    background-color: #0a192f;
    color: lightskyblue;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 18px;
    margin-left:auto;
    margin-right:auto;
}
.active, .collapsible:hover {
    background-color: #0a192f;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
}
.exp::before{
    content: "\2022";
    color: white;
    display: inline-block;
    width: 1em;
}
.exp{
    color: white;
}

/* Hover to Change Text */
.hoverable {
    cursor:default;
    color:lightskyblue;
    text-decoration: none;
}
.hoverable .hover {
    display:none;
}
.hoverable:hover .normal {
    display:none;
}
.hoverable:hover .hover {
    display:inline;
}

/* Navigation Bar */
.topnav {
    overflow: hidden;
    background-color: #0a192f;
    position: fixed;
    z-index: 1000;
    width: 100%;
  }
.topnav a {
    float: left;
    display: block;
    color: #d9d9e8;
    text-align: center;
    padding: 5px 5px;
    margin: 2px;
    border-radius: 8px;
    text-decoration: none;
}  
.topnav a:hover {
    color: lightseagreen;
} 
.topnav .icon {
    display: none;
} 
@media screen and (max-width: 720px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
    .topnav.responsive {
        position: fixed;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

/* Opening Page */
.background {
    position: relative; 
    width: 100%;
    margin: 0;
    padding: 0;
}
.background #content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 720px){
    #content{
        width: 90%;
        margin-top: 4%;
    }
}



.proj{
    word-wrap: break-word;
    margin-left: 5%;
    margin-right: 5%;
}
#course{
    column-count: 2;
    column-gap: 10%;
}
#wrapper {
    overflow: hidden;
    text-align: center;
}
#pastcourses, #currentcourses{
    display: inline-block;
    margin: 2%;
}
#first, #second, #third{
    font-size: 100px;
    display: inline-block;
    margin: 2%;
}
#one, #two{
    display: inline-block;
    margin: 2%;
}
#one{
    width: 200px; 
    height: 300px; 
    border-radius: 10%;
    margin-left: 50%;
    margin-top: 0;
}
#two{
    word-wrap:break-word;
    width:90%;
    margin-left: 5%;
}
div p a:hover{
    color: white;
}
div p a{
    text-decoration: none;
    color: lightskyblue;
}

.dogpic{
    width: 100px; 
    height: 150px; 
    border-radius: 10%;
    margin-left: 21%;
}
hr{
    width: 90%;
}
#icon{
    color:#d9d9e8;
    text-decoration: none;
}
#icon:hover{
    color:lightseagreen;
}