/* General Color and Font Theme */
html {
    scroll-behavior: smooth;
    height: 100%;
    overflow-x: hidden; 
    overflow-y: scroll;
}
/* body {
    background-color: #0a192f;
} */
html,body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
h1 {
    /* color:  #d9d9e8; */
    color: white;
    font-family: verdana;
    font-size: 100%;
    text-align: center;
}
h2{
    color: #c8a2c8;
    /* color: white; */
    font-family: verdana;
    font-size: 250%;
    text-align: center;
}
h3, h4, h5, h6, p{
    /* color: #d9d9e8; */
    font-family: verdana;
    text-align: center;
}
p{
    word-wrap: break-word;
    color: white;
} 

/* Front Page Settings */
#vantajs {
    width: 100%; 
    height: 100%;
    position: fixed;
    z-index: -100;
}
#content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Front Page Button */
.ghost-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: white;
    border: 1px solid white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
.ghost-button:hover, .ghost-button:active {
  color: #c8a2c8;
  text-decoration: none;
}